/* STYLE GERAL */

body {
    height: 2000px;
    position: relative;
    @include type-1(18px);
}

img {
    display: block;
    max-width: 100%;
}

.ativo {
    display: none;
}

.modal_ativo {
    display: block;
}
/* END STYLE GERAL */
