#header {
    position: absolute;
    width: 100%;
    z-index: 2;
    @include device(s){
        // display: none;
    }

    .header__logo {
        @include device(s){
            position: relative;
        }
        &__iconBurgue {
            @include device(s) {
                position: absolute;
                right: 22px;
                top: 13px;
                color: #3c3954;
            }
        }
        .header__logoImg {
            img {
                width: 60%;
                margin-left: 20px;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        padding: 20px 0;
        .lista-menu {
            display: flex;
            justify-content: space-around;
            @include device(s){
                display: none;
                flex-direction: column;
                width: 40% !important;
                position: relative !important;
                right: -600px !important;
            }

            .item-menu{
                list-style: none;
                a {
                    text-decoration: none;
                    color: $black;
                    font-weight: 500;
                    text-transform: capitalize;
                    @include type-1(16);
                    &:hover {
                        color: $white;
                        transition: 0.5s;
                    }
                }
            }

            .login {
                list-style: none;
                @include device(s){
                    padding-top: 10px;
                }
                a {
                    text-decoration: none;
                    color: $white;
                    border: solid 2px rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                    padding: 15px 40px;                    
                    font-weight: 500;
                    letter-spacing: 1px;
                    @include device(s){
                        width: 74%;
                        padding: 5px 7px;
                    }
                    &:hover {
                        background-color: $white;
                        color: $title-hover;
                        transition: 0.7s;
                    }
                }
            }
        }

    }

    
}

.header-bg {
    background: url(../img/bg-header.png);
    background-size: cover;
    background-position: top center;
    background-color:$white;
    position: relative;
    
    .header-area-inner {
        // position: relative;
        padding: 20em 0 15em 0;
        overflow: hidden;
        @include device(s){
            padding-top: 12em;
            padding-bottom: 7em;
        }

        .header-title {

            .subtitle {
                font-weight: 600;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;  
                background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;                
                @include type-1(18);

                @include device(s){
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 700;
                }

            }

            h1 {
                @include type-1(60);
                line-height: 80px;
                color: #3c3954;
                font-weight: 700;
                margin: 10px 0 28px 0;
                font-family: 'Poppins', sans-serif;
                @include device(s){
                    font-size: 35px;
                    line-height: 45px;
                }
            }

            p {
                max-width: 700px;
                color: $text-title;
                margin-bottom: 25px;
                @include type-1(20);

                @include device(s){
                    font-size: 16px;
                    line-height: 30px;
                }
            }

            .btn-wrapper {
                margin-top: 50px;
                .btn-home {
                    text-decoration: none;
                    color: $white;
                    letter-spacing: 1px;
                    font-weight: 600;
                    padding: 18px 30px;
                    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
                    border-radius: 3px;
                    @include type-1(18);

                }
            }

        }

        .bg-header-icon {
            position: absolute;
            top: 0;
            right: -300px;
        
            @include device(s) {
                display: none;
            }

            @include device(m) {
                width: 85%;
            }
        }
        
    }

}


.show {
    display: block !important;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    transition: 1s !important;
}

.btn-teste {
    display: none;
    transition: all 1s !important;
}

.x {
    display: none;
    transition: all 1s !important;
}

.btn-close {
    display: block;
    position: absolute;
    right: -85px;
    top: -63px;
    transition: all 1s !important;
}



