@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Poppins:100,200,300,400,500,600,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
	Fim Reset
*/
*, *::after, *::before {
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 759px) {
  [class^=grid-] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* ORDER FLEX */
.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.order4 {
  order: 4;
}

.order-1 {
  order: -1;
}

/* STYLE GERAL */
body {
  height: 2000px;
  position: relative;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.ativo {
  display: none;
}

.modal_ativo {
  display: block;
}

/* END STYLE GERAL */
#header {
  position: absolute;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 759px) {
  #header .header__logo {
    position: relative;
  }
}
@media screen and (max-width: 759px) {
  #header .header__logo__iconBurgue {
    position: absolute;
    right: 22px;
    top: 13px;
    color: #3c3954;
  }
}
#header .header__logo .header__logoImg img {
  width: 60%;
  margin-left: 20px;
}
#header nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
#header nav .lista-menu {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 759px) {
  #header nav .lista-menu {
    display: none;
    flex-direction: column;
    width: 40% !important;
    position: relative !important;
    right: -600px !important;
  }
}
#header nav .lista-menu .item-menu {
  list-style: none;
}
#header nav .lista-menu .item-menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#header nav .lista-menu .item-menu a:hover {
  color: #fff;
  transition: 0.5s;
}
#header nav .lista-menu .login {
  list-style: none;
}
@media screen and (max-width: 759px) {
  #header nav .lista-menu .login {
    padding-top: 10px;
  }
}
#header nav .lista-menu .login a {
  text-decoration: none;
  color: #fff;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 15px 40px;
  font-weight: 500;
  letter-spacing: 1px;
}
@media screen and (max-width: 759px) {
  #header nav .lista-menu .login a {
    width: 74%;
    padding: 5px 7px;
  }
}
#header nav .lista-menu .login a:hover {
  background-color: #fff;
  color: #d13a75;
  transition: 0.7s;
}

.header-bg {
  background: url(../img/bg-header.png);
  background-size: cover;
  background-position: top center;
  background-color: #fff;
  position: relative;
}
.header-bg .header-area-inner {
  padding: 20em 0 15em 0;
  overflow: hidden;
}
@media screen and (max-width: 759px) {
  .header-bg .header-area-inner {
    padding-top: 12em;
    padding-bottom: 7em;
  }
}
.header-bg .header-area-inner .header-title .subtitle {
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(-25deg, #F5633A 0%, #A42498 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  .header-bg .header-area-inner .header-title .subtitle {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
  }
}
.header-bg .header-area-inner .header-title h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.75em;
  line-height: 80px;
  line-height: 80px;
  color: #3c3954;
  font-weight: 700;
  margin: 10px 0 28px 0;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 759px) {
  .header-bg .header-area-inner .header-title h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
.header-bg .header-area-inner .header-title p {
  max-width: 700px;
  color: #757575;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}
@media screen and (max-width: 759px) {
  .header-bg .header-area-inner .header-title p {
    font-size: 16px;
    line-height: 30px;
  }
}
.header-bg .header-area-inner .header-title .btn-wrapper {
  margin-top: 50px;
}
.header-bg .header-area-inner .header-title .btn-wrapper .btn-home {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 18px 30px;
  background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
.header-bg .header-area-inner .bg-header-icon {
  position: absolute;
  top: 0;
  right: -300px;
}
@media screen and (max-width: 759px) {
  .header-bg .header-area-inner .bg-header-icon {
    display: none;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .header-bg .header-area-inner .bg-header-icon {
    width: 85%;
  }
}

.show {
  display: block !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  transition: 1s !important;
}

.btn-teste {
  display: none;
  transition: all 1s !important;
}

.x {
  display: none;
  transition: all 1s !important;
}

.btn-close {
  display: block;
  position: absolute;
  right: -85px;
  top: -63px;
  transition: all 1s !important;
}

/* About-Home */
#about-home {
  margin-bottom: 120px;
}
#about-home .about-home-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#about-home .about-home-inner div:nth-child(2) {
  padding-left: 25px;
}
@media screen and (max-width: 759px) {
  #about-home .about-home-inner div:nth-child(2) {
    padding: 0;
  }
}
#about-home .about-home-inner h2 {
  color: #3c3954;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #about-home .about-home-inner h2 {
    margin-top: 35px;
    font-size: 27px;
    line-height: 40px;
  }
}
#about-home .about-home-inner p {
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#about-home .about-home-inner .btn-wrapper {
  margin-top: 50px;
}
#about-home .about-home-inner .btn-wrapper .btn {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 18px 40px;
  text-align: center;
  background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
@media screen and (max-width: 759px) {
  #about-home .about-home-inner .btn-wrapper .btn {
    font-size: 14px;
  }
}

/* End About-Home */
/* Differential*/
#differential {
  background-color: #F5F8FE;
  text-align: center;
  padding: 120px 0;
}
#differential .single-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 30px 30px 30px;
}
@media screen and (max-width: 759px) {
  #differential .single-item {
    margin: 30px 0;
  }
}
#differential .single-item .box-icon {
  text-align: center;
}
#differential .single-item .box-icon i {
  padding: 30px;
  border-radius: 100px;
  color: #D64B5D;
  background-color: #fff;
}
#differential .single-item h3 {
  margin: 20px 0 15px 0;
  color: #3c3954;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.4166666667em;
}
#differential .single-item p {
  color: #757575;
  padding: 0 14px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}

/* End Differential */
/* Manage About Home */
#manage-about-home {
  padding: 120px 0;
}
#manage-about-home .manage-about-home-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 759px) {
  #manage-about-home .manage-about-home-inner .manage-columnLeft {
    order: 2;
  }
  #manage-about-home .manage-about-home-inner .manage-columnLeft .btn-wrapper {
    font-size: 14px;
  }
}
@media screen and (max-width: 759px) {
  #manage-about-home .manage-about-home-inner .manage-columnRight {
    order: 1;
    padding: 0 !important;
    box-shadow: 0px 0px 92px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
  }
}
#manage-about-home .manage-about-home-inner div:nth-child(2) {
  padding-left: 25px;
}
#manage-about-home .manage-about-home-inner h2 {
  color: #3c3954;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #manage-about-home .manage-about-home-inner h2 {
    font-size: 27px;
    line-height: 40px;
  }
}
#manage-about-home .manage-about-home-inner p {
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
@media screen and (max-width: 759px) {
  #manage-about-home .manage-about-home-inner p {
    font-size: 16px;
    line-height: 1.85;
  }
}
#manage-about-home .manage-about-home-inner .btn-wrapper {
  margin-top: 50px;
}
#manage-about-home .manage-about-home-inner .btn-wrapper .btn {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 18px 40px;
  text-align: center;
  background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}

/* End Manage About Home */
/* Everybody App */
#everybody-app-home {
  text-align: center;
  background: url("./img/bg-everybody.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 8em 0 23em 0;
  display: block;
}
@media screen and (max-width: 759px) {
  #everybody-app-home {
    background-size: unset;
    padding-top: 6em;
    padding-bottom: 5em;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  #everybody-app-home {
    padding-top: 0;
    padding-bottom: 25em;
  }
}
#everybody-app-home .everybody-title {
  padding: 100px 40px;
}
#everybody-app-home .everybody-title h2 {
  color: #3c3954;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .everybody-title h2 {
    font-size: 27px;
    line-height: 40px;
  }
}
#everybody-app-home .everybody-title p {
  color: #757575;
  line-height: 25px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .everybody-title p {
    font-size: 16px;
    line-height: 28px;
  }
}
#everybody-app-home .box {
  display: flex;
  align-items: flex-start;
  text-align: left;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .box {
    align-items: flex-start;
  }
}
#everybody-app-home .box .t {
  margin-right: 20px;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .box .t {
    margin-top: 20px;
  }
}
#everybody-app-home .box h3 {
  color: #3c3954;
  font-weight: 600;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  line-height: 1.4166666667em;
  line-height: 34px;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .box h3 {
    font-size: 20px;
    line-height: 34px;
  }
}
#everybody-app-home .box p {
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
@media screen and (max-width: 759px) {
  #everybody-app-home .box p {
    font-size: 16px;
    line-height: 1.85;
  }
}

/* End Everybody App */
/* Video Home */
.t12 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.video-home {
  background: url("../img/bg-video-home.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .video-home {
    background-size: contain;
  }
}
.video-home .intro-video-home {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.video-home .link-video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.video-home .link-video a {
  position: absolute;
  color: #fff;
  width: 100%;
  border-radius: 100%;
  top: -21em;
  padding: 3em;
  background: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 759px) {
  .video-home .link-video a {
    top: -8em;
  }
}
.video-home .link-video a i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: absolute;
  left: 40px;
}
.video-home img {
  display: block;
  max-width: 100%;
}

/* End Video Home */
/* Plans Price */
#plans-home .title-plans {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 125px;
  padding-top: 120px;
}
#plans-home .title-plans h2 {
  font-weight: bold;
  color: #3c3954;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #plans-home .title-plans h2 {
    font-size: 27px;
    line-height: 40px;
  }
}
#plans-home .title-plans p {
  text-align: center;
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  #plans-home .title-plans p {
    font-size: 16px;
    line-height: 28px;
  }
}
#plans-home .box-plan-basic {
  padding: 50px;
  border: solid 1px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 759px) {
  #plans-home .box-plan-basic {
    margin: 50px 0;
  }
}
#plans-home .box-plan-basic span {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
  display: block;
}
#plans-home .box-plan-basic p {
  text-transform: initial;
}
#plans-home .box-plan-basic .price-header {
  text-align: center;
  width: 100%;
}
#plans-home .box-plan-basic .price-header span {
  color: #3c3954;
  font-weight: 600;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  line-height: 50px;
}
#plans-home .box-plan-basic .price-header span:nth-child(1) {
  letter-spacing: 0;
  font-family: "Poppins", sans-serif;
  font-size: 3.125em;
}
@media screen and (max-width: 759px) {
  #plans-home .box-plan-basic .price-header span:nth-child(1) {
    font-size: 2.125em;
  }
}
#plans-home .box-plan-basic .price-header p {
  color: #757575;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#plans-home .box-plan-basic .price-body {
  text-align: center;
  margin: 40px 0;
}
#plans-home .box-plan-basic .price-body ul {
  list-style: none;
}
#plans-home .box-plan-basic .price-body ul li {
  color: #757575;
  padding: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#plans-home .box-plan-basic .price-footer {
  text-align: center;
}
#plans-home .box-plan-basic .price-footer button {
  border: solid 1px #ced2ff;
  background: transparent;
  padding: 20px 60px;
  text-transform: uppercase;
  color: #3c3954;
  font-weight: 700;
  letter-spacing: 0.8px;
  border-radius: 50px;
}
@media screen and (max-width: 759px) {
  #plans-home .box-plan-basic .price-footer button {
    border: solid 2px #ced2ff;
    padding: 17px 55px;
    font-size: 14px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  #plans-home .box-plan-basic .price-footer button {
    padding: 16px 25px;
  }
}
#plans-home .box-plan-basic .price-footer button:hover {
  color: #fff;
  background: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  box-shadow: 0px 8px 16px 0px rgba(241, 87, 19, 0.2);
  transition: 0.7s;
}

/* End Plans Price */
/* Team */
#team-home {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
  margin-bottom: 120px;
}
#team-home h2 {
  color: #3c3954;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #team-home h2 {
    font-size: 27px;
    line-height: 40px;
  }
}
#team-home p {
  color: #757575;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  #team-home p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
  }
}
#team-home .box-team {
  text-align: center;
  margin: 0 auto;
}
#team-home .box-team p {
  color: #3c3954;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 25px 0 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}
#team-home .box-team span {
  color: #757575;
}
#team-home .box-team img {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 100%;
}

/* End Team */
/*** New Contact ***/
#contact-home {
  background-image: url("img/bg-video-home.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 9rem 0 120px 0;
}
@media screen and (max-width: 759px) {
  #contact-home {
    padding-top: 120px;
    margin-bottom: 120px;
    background-size: cover;
    background-image: -moz-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
    background-image: -ms-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  #contact-home {
    background-size: cover;
  }
}
#contact-home .contact-content {
  background-color: #fff;
  width: 70%;
  border-radius: 7px;
  margin: 0 auto;
  padding: 75px 0 80px 0;
  box-shadow: 0px 67px 114px 50px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 759px) {
  #contact-home .contact-content {
    width: unset;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  #contact-home .contact-content {
    width: 90%;
  }
}
#contact-home .contact-content h2 {
  color: #3c3954;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #contact-home .contact-content h2 {
    font-size: 27px;
    line-height: 40px;
  }
}
#contact-home .contact-content p {
  width: 65%;
  margin: 0 auto;
  text-align: center;
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  #contact-home .contact-content p {
    font-size: 16px;
  }
}
#contact-home .contact-content .box-contact {
  margin: 40px auto 0 auto;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 759px) {
  #contact-home .contact-content .box-contact {
    width: unset;
  }
}
#contact-home .contact-content .box-contact form input {
  padding: 15px 30px;
  background-color: #f4f4fd;
  border: none;
  height: 60px;
  margin: 10px 0;
  width: 100%;
  color: #3c3954;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#contact-home .contact-content .box-contact form textarea {
  background-color: #f4f4fd;
  padding: 15px 30px;
  width: 100%;
  color: #3c3954;
  margin: 10px 0;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#contact-home .contact-content .box-contact .btn-contact {
  text-decoration: none;
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 18px 40px;
  text-align: center;
  margin-left: 9px;
  cursor: pointer;
  border: none;
  background-image: -webkit-linear-gradient(180deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  line-height: 1.8571428571em;
}
#contact-home .contact-content .box-contact .btn-contact:hover {
  background-image: -webkit-linear-gradient(180deg, #777 0%, #000 51%, #000 99%);
  transition: all 1s;
  color: #fff;
}

/*** End Contact ***/
/* Quetions */
#quetions-home {
  padding-bottom: 120px;
  padding-top: 80px;
}
@media screen and (max-width: 759px) {
  #quetions-home {
    padding-top: 0;
  }
}
#quetions-home .quetions-title {
  text-align: center;
  margin: 0 auto 60px auto;
}
@media screen and (max-width: 759px) {
  #quetions-home .quetions-title {
    margin: unset;
    width: 100%;
  }
}
#quetions-home .quetions-title h2 {
  color: #3c3954;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 2.8125em;
  line-height: 1.2444444444em;
}
@media screen and (max-width: 759px) {
  #quetions-home .quetions-title h2 {
    font-size: 27px;
    line-height: 40px;
    padding-bottom: 15px;
  }
}
#quetions-home .quetions-title p {
  color: #757575;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
@media screen and (max-width: 759px) {
  #quetions-home .quetions-title p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (max-width: 759px) {
  #quetions-home .quetions-column-left {
    order: 2;
  }
}
#quetions-home .quetions-column-left .card {
  position: relative;
}
#quetions-home .quetions-column-left .card .card-header {
  background-color: transparent;
  border: none;
  padding: 0;
}
#quetions-home .quetions-column-left .card .card-header h4 {
  color: #3c3954;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  line-height: 1.5625em;
}
#quetions-home .quetions-column-left .card .card-header h4 a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: block;
  padding: 15px 30px;
  margin-bottom: 20px;
  background-color: #fafafa;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#quetions-home .quetions-column-left .card .card-body p {
  text-align: left;
  padding: 5px 30px 25px 30px;
  color: #757575;
  line-height: 1.6;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
#quetions-home .quetions-column-left .card #headerOne h4, #quetions-home .quetions-column-left .card #headerTwo h4, #quetions-home .quetions-column-left .card #headerTree h4 {
  position: relative;
}
#quetions-home .quetions-column-left .card #headerOne h4 .set, #quetions-home .quetions-column-left .card #headerTwo h4 .set, #quetions-home .quetions-column-left .card #headerTree h4 .set {
  position: absolute;
  right: 20px;
}
#quetions-home .quetions-column-left .card #headerOne h4 i, #quetions-home .quetions-column-left .card #headerTwo h4 i, #quetions-home .quetions-column-left .card #headerTree h4 i {
  color: #d13a75;
}
#quetions-home .quetions-column-left #collapseOne, #quetions-home .quetions-column-left #collapseTwo, #quetions-home .quetions-column-left #collapseTree {
  display: none;
  position: relative;
  top: -20px !important;
}
#quetions-home .quetions-column-left .show {
  display: block !important;
}
#quetions-home .quetions-column-left .remove {
  display: none;
}
@media screen and (max-width: 759px) {
  #quetions-home .quetions-column-right {
    order: 1;
  }
}

/* End Quetions */
/**

 * Font 1

 */
@font-face {
  font-family: "Flaticon1";
  src: url("flaticon1.eot");
  src: url("flaticon1.eot#iefix") format("embedded-opentype"), url("flaticon1.woff") format("woff"), url("flaticon1.ttf") format("truetype"), url("flaticon1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=flaticon1-]:before, [class*=" flaticon1-"]:before,
[class^=flaticon1-]:after, [class*=" flaticon1-"]:after {
  font-family: "Flaticon1";
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon1-basic21:before {
  content: "";
}

.flaticon1-bicycle21:before {
  content: "";
}

.flaticon1-car6:before {
  content: "";
}

/**

 * Font 2

 */
@font-face {
  font-family: "Flaticon2";
  src: url("flaticon2.eot");
  src: url("flaticon2.eot#iefix") format("embedded-opentype"), url("flaticon2.woff") format("woff"), url("flaticon2.ttf") format("truetype"), url("flaticon2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=flaticon2-]:before, [class*=" flaticon2-"]:before,
[class^=flaticon2-]:after, [class*=" flaticon2-"]:after {
  font-family: "Flaticon2";
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon2-basic21:before {
  content: "";
}

.flaticon2-bicycle21:before {
  content: "";
}

.flaticon2-car6:before {
  content: "";
}

#footer {
  padding: 90px 0;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#footer .footer-logo {
  display: block;
}
@media screen and (max-width: 759px) {
  #footer .footer-copy {
    margin-bottom: 40px;
  }
}
#footer .footer-copy .footer-rede-social {
  list-style: none;
  text-align: left;
  margin-top: 30px;
}
#footer .footer-copy .footer-rede-social li {
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  padding: 12px;
  background-image: -webkit-linear-gradient(-83deg, #a12299 0%, #d23a74 51%, #f96834 99%);
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
#footer .footer-copy .footer-rede-social li:hover {
  background: gray;
  color: red;
}
#footer .footer-copy .footer-rede-social li a i {
  color: #fff;
}
#footer .footer-copy p {
  margin-top: 30px;
  color: #757575;
  text-align: left;
}
#footer .footer-links {
  text-align: left;
}
@media screen and (max-width: 759px) {
  #footer .footer-links {
    margin-bottom: 40px;
  }
}
#footer .footer-links h4 {
  font-weight: 600;
  color: #3c3954;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}
#footer .footer-links ul {
  list-style: none;
}
#footer .footer-links ul li {
  padding: 2px 0;
}
#footer .footer-links ul li a {
  color: #757575;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
@media screen and (max-width: 759px) {
  #footer .footer-help {
    margin-bottom: 40px;
  }
}
#footer .footer-help h4 {
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #3c3954;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}
#footer .footer-help ul {
  list-style: none;
}
#footer .footer-help ul li {
  padding: 2px 0;
}
#footer .footer-help ul li a {
  color: #757575;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}
@media screen and (max-width: 759px) {
  #footer .footer-download {
    margin-bottom: 40px;
  }
}
#footer .footer-download h4 {
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #3c3954;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
}
#footer .footer-download ul {
  list-style: none;
}
#footer .footer-download ul li {
  padding: 2px 0;
}
#footer .footer-download ul li a {
  color: #757575;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.875em;
}

.anime {
  transition: 0.5s;
}

.anime-start {
  background: darkred;
  font-size: 60px;
}

.modal {
  position: relative;
  margin: 0 auto;
  text-align: c;
  width: 50%;
}
.modal .modal-dialog {
  /* margin: 0 auto; */
  width: 100%;
  /* position: fixed; */
  position: absolute;
  z-index: 11;
  top: 100px;
  left: 67px;
}
.modal .modal-dialog .modal-content {
  padding: 10px 50px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: 0;
}
.modal .modal-dialog .modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}
.modal .modal-dialog .modal-content .modal-header h4 {
  padding: 4px 0;
  color: #4285F4;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.modal .modal-dialog .modal-content .modal-header button {
  background: transparent;
  border: solid 1px #4285F4;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.modal .modal-dialog .modal-content .modal-header button span {
  font-size: 32px;
  color: #4285F4;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 1rem 1rem;
}
.modal .modal-dialog .modal-content .modal-body form .form-group {
  margin: 30px 0;
}
.modal .modal-dialog .modal-content .modal-body form label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
  line-height: 1.8571428571em;
}
.modal .modal-dialog .modal-content .modal-body form input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #4285F4;
  font-weight: 500;
  transition: 0.3s ease;
}
.modal .modal-dialog .modal-content .modal-body form .forgot-password {
  display: flex;
  justify-content: space-between;
}
.modal .modal-dialog .modal-content .modal-body form .forgot-password input {
  width: 20px;
  margin-right: 7px;
  display: inline-block;
  background-color: transparent;
  border: solid 1px #fafafa;
}
.modal .modal-dialog .modal-content .modal-body form .forgot-password label {
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.modal .modal-dialog .modal-content .modal-body form .forgot-password .password {
  color: #4285F4;
  text-decoration: none;
}
.modal .modal-dialog .modal-content .modal-register {
  position: absolute;
  height: 57.2vh;
  width: 20px;
  background-color: #4285F4;
  right: 0;
  top: 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding: 1rem 1rem;
}
.modal .modal-dialog .modal-content .modal-footer button {
  outline: none;
  background: #4285F4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
